//base
$background-color: rgb(26, 27, 35);

//Typography
$font-family-serif: 'Cormorant Garamond', serif;
$light-font: rgb(242, 246, 250);
$gold-font: rgb(146, 120, 26);
$line-height: 1rem;

//Breakpoints
$sm-viewport: 560px;
$md-viewport: 760px;
$lg-viewport: 960px;