@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Inter:wght@300;400;700&display=swaprel="stylesheet');

//base
$background-color: rgb(26, 27, 35);

//Typography
$font-family-serif: 'Cormorant Garamond', serif;
$light-font: rgb(242, 246, 250);
$lightblue-font: rgba(181, 217, 246, 0.897);
$blue-hover: rgba(151, 197, 253, 0.814);
$line-height: 1rem;

//Breakpoints
$sm-viewport: 560px;
$md-viewport: 760px;
$lg-viewport: 960px;