@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Inter:wght@300;400;700&display=swaprel="stylesheet');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* html,
* body {
  height: 100%;
}

body {
  transform: scale(1);
  transform-origin: 0 0;
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: rgb(26, 27, 35);
  padding: 1rem 5%;
  color: rgb(242, 246, 250);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64rem;
  height: auto;
  max-width: 100vw;
  margin: 0 auto;
}
body h1 {
  font-size: 0.5rem;
}
body header > img {
  width: 10rem;
  height: auto;
}
body nav > ul {
  margin: 1em 1.5em;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border: rgba(251, 216, 213, 0.803) 0.01em solid;
  border-radius: 0.3em;
  width: 40em;
}
body nav > ul > li {
  padding: 0.2em;
}
body nav > ul > li a {
  text-decoration: none;
  color: rgb(242, 246, 250);
  font-size: 0.8em;
  transition: 0.5s;
}
body nav > ul > li a:hover {
  color: rgba(249, 203, 201, 0.817);
  font-size: 0.9em;
  filter: drop-shadow(2px 0px 3px rgba(249, 203, 201, 0.817));
}

main {
  display: flex;
  flex-direction: column;
}
main .img-container {
  margin: 0.5em auto;
  align-items: center;
  position: relative;
  overflow: hidden;
}
main .img-container img {
  width: 45em;
  height: auto;
  border-radius: 1rem;
}
main .img-container h1 {
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: 3%;
  top: 75%;
  color: rgb(242, 246, 250);
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}
main .img-container h1 span {
  font-size: 2em;
  font-style: oblique;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 1em auto;
  gap: 1.5em;
}
.main-container section article {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.main-container section article article img {
  height: 100%;
}
.main-container section article img {
  width: 14em;
  height: 20em;
  border-radius: 1em;
  position: relative;
}
.main-container section article .card-container {
  position: absolute;
  left: 0;
  bottom: 0;
  gap: 2em;
  width: 16em;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  transform: translateY(calc(100% - 5em));
  transition: 250ms ease-in-out;
}
.main-container section article .card-container h2 {
  font-weight: 400;
  font-size: 1.3em;
  position: relative;
}
.main-container section article .card-container h2::after {
  content: "";
  height: 0.01em;
  width: 90%;
  background: rgba(249, 203, 201, 0.817);
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-container section article .card-container p {
  font-size: 0.9em;
}
.main-container section article:hover .card-container {
  transform: translateY(0);
}
.main-container section article:hover {
  transform: scale(1.1);
  filter: drop-shadow(0.1em 0 0.4em rgba(249, 202, 201, 0.418));
  z-index: -1;
}

footer {
  margin: 0;
  clear: both;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

footer img {
  width: 10em;
  height: auto;
}

@media screen and (max-width: 960px) {
  header > img {
    width: 8rem !important;
    height: auto;
  }
  ul {
    margin: 1em 0.1em;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 25em !important;
  }
  .img-container img {
    width: 30em !important;
    height: auto;
  }
  .img-container h1 {
    position: absolute;
    z-index: 99;
    left: 3%;
    top: 55% !important;
    font-size: 0.8em;
  }
  .img-container h1 span {
    font-size: 1.4em;
  }
  .main-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  header > img {
    width: 6rem !important;
    height: auto;
  }
  ul {
    margin: 1em 0.1em;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 18em !important;
  }
  .img-container img {
    width: 20em !important;
    height: auto;
  }
  .img-container h1 {
    position: absolute;
    z-index: 99;
    left: 3%;
    top: 48% !important;
    font-size: 0.3em;
  }
  .img-container h1 span {
    font-size: 1em;
  }
  .card-container {
    width: 10em;
    font-size: 0.9em;
  }
  footer {
    font-size: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
  }
  footer img {
    width: 10em;
    height: auto;
  }
}